{% extends 'base.html' %}

{% block content %}



<div class="container mt-5">

    <div class="welcome-text">
        <h1 class="text-center mt-3r">Welcome to ZaMart!</h1>
        <h4 class="text-center mt-3">{{ name }}!</h4>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <textarea class="form-control" id="amount" name="amount"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="col-form-label">Category:</label>
                            <textarea class="form-control" id="category" name="category"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add
                        Product</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" id="card_table">
        {% for product in products %}
        <!-- <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Category: {{ product.category }}</p>
                    <p class="card-text">Description: {{ product.description }}</p>
                    <p class="card-text">Amount: {{ product.amount }}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'main:add_item' product.id %}" class="btn btn-info">+</a>
                    <a href="{% url 'main:reduce_item' product.id %}" class="btn btn-info">-</a>
                    <button onClick="deleteProduct" class="btn btn-danger">Delete</button>
                    <a href="{% url 'main:edit_product' product.id %}" class="btn btn-success">Edit</a>
                </div>
            </div>
        </div> -->
        {% if forloop.counter|divisibleby:3 %}
    </div>

    <div class="row justify-content-center">
        {% endif %}
        {% endfor %}
    </div>



    <h6 class="item-count text-center">You have {{item_count}} items in ZaMart</h6>
    <h6 class="text-center mt-3">Last Login: {{ last_login }}</h6>

    <div class="text-center mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
            Product</button>
        <a href="{% url 'main:logout' %}" class="btn btn-danger ml-2">Logout</a>
    </div>
</div>

<script>

    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("card_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = ``
        products.forEach((product) => {
            htmlString += `
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">${product.fields.name}</h5>
                            <p class="card-text">Category: ${product.fields.category}</p>
                            <p class="card-text">Price: Rp${product.fields.price}</p>
                            <p class="card-text">Description: ${product.fields.description}</p>
                            <p class="card-text">Amount: ${product.fields.amount}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="add_item/${product.pk}" class="btn btn-info">+</a>
                            <a href="reduce_item/${product.pk}" class="btn btn-info">-</a>
                            <button onClick="{deleteProduct(${product.pk})}" class="btn btn-danger">Delete</button>
                            <a href="edit-product/${product.pk}" class="btn btn-success">Edit</a>
                        </div>
                    </div>
                </div>
            `;
        });

        document.getElementById("card_table").innerHTML = htmlString
    }
    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct

    function deleteProduct(id) {
        fetch("{%url 'main:delete_product_ajax' %}", {
            method: "DELETE",
            body: JSON.stringify({ id: id })
        }).then(refreshProducts)
    }
</script>


<style>
    body {
        font-family: "Rubik", sans-serif;
        background-color: #F8F0E5 !important;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .container.mt-5 {
        background-color: #EADBC8 !important;
        padding: 20px;
        border-radius: 10px;

    }

    .card-body {
        background-color: #DAC0A3;
    }

    .card-footer.text-center {
        background-color: #0F2C59;
    }
</style>

{% endblock content %}